*{
    text-decoration: none;
    list-style: none;
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    font-weight: 300;
}
body{
    background-color:#f7f1e3
}
header{
    width: 100%;
    background-color: #05c46b;
    text-align: center;
    padding: 15px 0 15px 0;
}
.head span{
    font-size: 50px;
    color: white;
    font-weight: 500;
    text-align: center;
}

nav{
    width: 100%;
    background-color: #05c46b;
    position: sticky;
}

nav ul{
    list-style-type: none;
    display: flex;
    margin: auto;
    align-content: auto;
}

nav ul li{
    flex: 1 1 auto;
    text-align: center;
    position: relative;
    font-size: 20px;
}
nav ul .reseau{
    display: flex;
}
nav ul .reseau .facebook:hover{
    color:  #3b5998;
}
nav ul .reseau .insta:hover{
    color:#F77737;
}
nav ul .reseau .you:hover{
    color:  red;
}
nav ul .search{
    font-size: 25px;
}
nav ul input{
    border-radius: 5px;
    height: 35px;
}
nav ul i{
        padding-top: 10px;
}

nav a{
    display: block;
    text-decoration: none;
    color:black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
    transition: 0.5s;
}

nav a:hover{
    color: white;
    border-bottom: 2px solid #05c46b ;
    background-color: #05c46b;
}

.sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: #05c46b;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
nav > ul li:hover .sous{
    display: flex;
    flex-flow: column wrap;
}
.sous li{
    flex: 1 1 auto;
    text-align: center;
    color: green;
    background-color:#05c46b;
    border-radius: 5px;
    
}
.sous li p{
    color: black;
}
.sous a{
    padding: 10px;
    border-bottom: none;
    font-weight: 200;
    color: black;
}
.sous a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
    color: white;
    background-color: #05c46b;
}
.deroulant > a::after{
    content:" ▼";
    font-size: 12px;
}
/************************************************************************/
.conteneur{
    display: flex;
    max-width: 1400px;
    margin: auto;
    width: 100%;
    height: 0px;
    padding-top: 60%;
    box-shadow: 0px 0px 10px #777;
    background-color: white;
    margin: auto;
    background-size: 100% 100%;

    animation-name: fondu;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes fondu{
    0% {background-image: url("background.jpg");}
    16.66%{background-image: url("phot1.jpg");}
    33.32%{background-image: url("phot2.jpg");}
    49.98%{background-image: url("phot3.jpg");}
    66.64%{background-image: url("phot4.jpg");}
    83.31%{background-image: url("daniel-klein-Ujcwgj1xdbA-unsplash.jpg");}
    100%{background-image: url("background.jpg");}
} 
.conteneur .head{
    color: white;
    margin: auto;
}
.conteneur .head .text{
    font-size: 80px;
    font-weight: 1000;
    text-align: center;
    color: black;
}
/********************************************************************************/
.about0{
	padding: 50px 150px;
}
.about0 .title{
	font-size: 40px;
	font-weight: 500;
	text-align: center;
	padding-bottom: 80px;
}
.about0 .about-content{
	display: flex;
	justify-content: space-between;
	align-items: center;

}
.about0 .div-left div{
	width: 45%;
}
.about0 .div-right{
	width: 55%;
}
.about0 .div-left img{
	height: 400px;
	width: 400px;
	border-radius: 6px;
	object-fit: cover;
}

.about0 .div-right .text{
	font-size: 30px;
	font-weight: 600;
	margin-bottom: 10px;
	}
.about0 .div-right span{
    font-size: 20px;
}
.about0 .div-right .text .galsen{
		color: #05c46b;
        font-size: 40px;
	}
.about0 .div-right p{
	text-align: justify;
	font-size: 20px;
}

.about0 .div-right .button-two{
	display: inline-block;
	background-color: #05c46b;
	font-size: 40px;
	font-weight: 200;
	color: white;
	border: 2px solid white;
	border-radius: 20px;
	padding: 10px 40px;
	margin-top: 20px;
}
.about0 .div-right .button-two:hover{
	background: none;
	color: #05c46b;
}
.My{
    text-align: center;
    font-size: 3 0px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    
}
.My .perso span{
    padding-top: 20px;
}
.perso{
    font-size: 30px;
}
.perso span p{
    color: red;
    font-weight: 200;
    font-family: cursive;
    font-size: medium;
}
.perso span p::before,p::after{
    content: ''; 
    display: inline-block; 
    vertical-align: middle;
    width: 2rem;
    height: 4px;
    background: black;
}
.perso span p::before{
    margin-right: .3rem;
}
.perso span p::after{
    margin-left: .3rem;
}

.about{
   padding-left: 10px;
   border-radius: 5px;
   padding-top: 15px;
}
.about tr td{
    color: white;
    border-radius: 5px;
    padding-top: 20px;
    font-weight: normal;
    display: flex;
   
}
.about tr td img{
    border: solid white 2px;
    border-radius: 10px;
    margin-right: 100px;
}
.about tr td span{
    font-size: 25px;
    text-align: justify;
    color: black;
    margin: 0 100px 0 0;
}
.about2{
    display: flex;
    padding: 15px 50px 50px 50px;
    justify-content: space-evenly;
}
.about2 .bras ul i{
    color: #05c46b;
}
.about2 .bras ul li{
    font-size: 40px;
    color: rgb(3, 3, 70);
    display: flex;
    padding-right: 20px;
}
.about2 .bras li span{
    font-size: 20px;
    color:rgb(48, 48, 66) ;
}
.about2 .bras span{
    text-align: justify;
}
.about2 .form input{
    border-radius: 5px;
    height: 10%;
}
.about2 .form textarea{
    border-radius: 5px;
    border: solid 1px;
}
.about2 .form a{
    color: white ;
    background-color:  #05c46b;
    font-size: 30px;
    font-weight: 400;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
}
.about2 .form .message:hover{
    background: none;
    color: #05c46b;
    background-color: white;
}
/**************************************************************************************************/

.end{
    padding: 20px 0px 20px 0px;
    background-color: #05c46b;
    color:whitesmoke;
    text-align: center;
    font-size: 20px;
    height: 20%;
    margin-top: 200px;

}
.end .fin span{
    color:wheat;
}

